<%- include("../template/home/header.ejs") %> 

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
     <!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
    <!-- END LOADER -->
	
	<!-- Start top bar -->
	<%- include("../template/home/navbar.ejs") %> 
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/ruang/rsp_edited_edited.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Selamat Datang di RS Paru Jember</h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>
								<!-- <a href="#" class="btn">Hubungi Kami</a> -->
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/slider-02.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Melayani dengan hati</h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum</p>
								<!-- <a href="#appointment" class="btn">Appointment</a> -->
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/ruang/rsp.jpeg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Zona Integritas </h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>
								<!-- <a href="#" class="btn">Contact Us</a> -->
							</div>
						</div>		
					</div>
					<!-- <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/ruang/Kawasan_Zona_Integritas.jpg) ; width: 1400px; height: 100%;" >
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<a href="#" class="btn">Contact Us</a>
							</div>
						</div>		
					</div> -->
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Tentang Kami</h2>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> Selamat Datang di RS Paru Jember </h2>
								<p>Rumah Sakit Paru Jember didirikan pada zaman Hindia Belanda merupakan Sanatorium milik Yayasan Stichting Centraal Vereneging Tuberculosa Besttriding (SCVT) yang terletak di Desa Plalangan, Kecamatan Kalisat. Rumah Sakit mengalami kerusakan berat akibat perang, kemudian dibangun kembali diluar Kota Jember (Lokasi RSUD Dr. Soebandi sekarang) ditambah unit rawat jalan (BP-4) di Stasiun Kota Jember.</p>
								<p>Tercatat Rumah Sakit Paru Jember dibangun kembali pada Tahun 1956 oleh Dokares Besuki (dr. Koesnadi). Pada Tahun 1962 karena kebutuhan pengembangan RSUD, maka dilakukan kesepakatan bersama berupa tukar menukar tanah, bangunan, sarana dan prasarana antara RS Paru dengan RSUD. Sejak Tanggal 22 November 1962 RS Paru menempati lokasi sekarang dan dikenal dengan Rumah Sakit Kreongan (berlokasi di desa kreongan), melayani penyakit paru (terutama TBC) Wilayah eks-karesidenan Besuki.</p>
								<a href="/tentang" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="images/about-img-01.jpg" alt="">
										</li>
										<li>
											<img src="images/about-img-02.jpg" alt="">
										</li>
										<li>
											<img src="images/about-img-03.jpg" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Pelayanan</h2>
						<p></p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title">IGD 24 Jam</h3>
								<p class="description">
									Latar belakang berdirinya Instalasi Gawat Darurat (IGD) berawal dari keinginan rumah... 
								</p>
								<a href="/igd" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
								<h3 class="title">Rawat Jalan</h3>
								<p class="description">
									Pada awalnya sebelum adanya layanan Rawat Jalan di Rumah Sakit Paru Jember, layanannya...
								</p>
								<a href="/rawatJ" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
								<h3 class="title">Rawat Inap</h3>
								<p class="description">
									Instalasi Rawat Inap adalah penyelenggara sistem pelayanan rawat inap kesehatan respirasi... 
								</p>
								<a href="/rawatI" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
								<h3 class="title">Layanan Penunjangan</h3>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur.
								</p>
								<a href="/layananP" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<h3 class="title">Layanan Unggulan</h3>
								<p class="description">
									Suatu terapi medis, dimana pasien menghirup oksigen 100%, dalam suatu ruangan khusus...
								</p>
								<a href="/layananU" class="new-btn-d br-2">Baca Selengkapnya</a>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<!-- End Services -->
	<!-- Start Appointment -->
	<div id="appointment" class="appointment-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Pelaporan Tindakan Pidana</h2>
						<p>Jika Anda melihat tindakan Pidana maka LAPORKAN!!! </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
                        <div class="well-title">
                            <h2>PPID</h2>
                        </div>
                        <form action="/ppid" method="POST" enctype="multipart/form-data">
                            <!-- Form start -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Nama</label>
                                        <input id="name" name="nama" type="text" placeholder="Name" class="form-control input-md" required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md" required>
                                    </div>
								</div>
								
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Isi Bukti</label>
                                        <input id="date" name="image" type="file" placeholder="Preferred Date" class="form-control input-md" required>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Tanggal Kejadian</label>
                                        <input type="date" name="tgl"  class="form-control input-md" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="time">No.Telepon</label>
                                        <input type="number" name="tlpn" class="form-control input-md" placeholder="No Telepon" required>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="appointmentfor"> LAPORAN</label>
											<textarea class="form-control" id="message" name="isi" placeholder="" rows="8" data-error="Write your message" required></textarea>
											<div class="help-block with-errors"></div>
										
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="new-btn-d br-2">Laporkan !!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
                        <div class="well-title">
                            <h2>Anda harus melaporkan pada kami</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">24 jam selalu menerima laporan</h4>
                                <div class="feature-content">
                                    <p>Kami siap menerima laporan 24 jam dan menindak secepat mungkin</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Keamanan</h4>
                                <div class="feature-content">
                                    <p>Kami akan selalu menjaga privasi keamanan anda dan merahasiakan identitas anda</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Hadiah</h4>
                                <div class="feature-content">
                                    <p>JIka laporan yang anda berikan ternyata benar, maka anda akan mendapat hadiah untuk pelaporan anda oleh karena itu gunakan email anda yang benar</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Konfirmasi</h4>
                                <div class="feature-content">
                                    <p>Pelaporan berhasil tidaknya akan dikirim lewat email silahkan diisi email anda dengan benar</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Catatan</h4>
                                <div class="feature-content">
                                    <p>Semua data di form PPID Wajib diisi semua, jika tidak maka pengirimannya akan gagal/corrupt serta bukti cukup diisi dengan FOTO</p>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Appointment -->
	

<!-- Start Services -->
<div id="informasi" class="services-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
					<h2>Informasi</h2>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
					<div class="item">
						<div class="serviceBox">
							<a href="/jadwal" style="background:#f2f3f5;">
								<div class="service-icon">
									<i aria-hidden="true">Jadwal</i>
								</div>
							</a>
						</div>
					</div>
			</div>
		</div>
		<hr style="background: darkgray;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
						<h2>Inventaris</h2>
					<p></p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.vip %> bed</i></div>
							<h3 class="title">VIP</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.anggrek %> bed</i></div>
							<h3 class="title">Anggrek</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.hcu %> bed</i></div>
							<h3 class="title">HCU</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.icu %> bed</i></div>
							<h3 class="title">ICU</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.dahlia2 %> bed</i></div>
							<h3 class="title">Dahlia II</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.dahliaI %> bed</i></div>
							<h3 class="title">Dahlia Isolasi</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.melati2 %> bed</i></div>
							<h3 class="title">Melati II</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.tulip2 %> bed</i></div>
							<h3 class="title">Tulip II</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.bougenvile2 %>bed</i></div>
							<h3 class="title">Bougenvile II</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.lavender2 %> bed</i></div>
							<h3 class="title">Lavender II</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.mawar3 %> bed</i></div>
							<h3 class="title">Mawar III</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.mawarI %> bed</i></div>
							<h3 class="title">Mawar Isolasi</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.mawarIK %> bed</i></div>
							<h3 class="title">Mawar Isolasi Khusus</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.melati3 %> bed</i></div>
							<h3 class="title">Melati III</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.tulip3 %> bed</i></div>
							<h3 class="title">Tulip III</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.bougenvile3 %> bed</i></div>
							<h3 class="title">Bougenvile III</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					<div class="item">
						<div class="serviceBox">
							<% if(inventaris.length){ %> 
								<% for(let inven of inventaris){ %> 
							<div class="service-icon"><i aria-hidden="true"><%= inven.lavender3 %> bed</i></div>
							<h3 class="title">Lavender III</h3>
							<% } %> 
							<% } %> 
						</div>
					</div>
					</div>
					<hr style="background: darkgray;">
					<div class="item" style="margin-top:30px;">
						<div class="row">
							<div class="col-lg-12">
								<div class="title-box">
									<h2>Indikator</h2>
									<!-- <hr style="background: #000;"> -->
								</div>
							</div>
						</div>
						<div class="row">
						
						<div class="card" style="width: 500px; margin-left: 300px;">
							<div class="item">	
								<div class="serviceBox">

									<table class="serviceBox" border="1">
										<tr>
										<th width = "66">BOR</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.bor %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.bor %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>

									<table class="serviceBox" border="1" style="margin-top: 10px;">
										<tr>
										<th>AVLOS</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.avlos %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.avlos %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>
								
								<table class="serviceBox" border="1" style="margin-top: 10px;">
										<tr>
										<th width = "56">TOI</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.toi %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.toi %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>
								
								<table class="serviceBox" border="1" style="margin-top: 10px;">
										<tr>
										<th width="56">BTO</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.bto %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.bto %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>
								
								<table class="serviceBox" border="" style="margin-top: 10px;">
										<tr>
										<th width="56">NDR</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.ndr %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.ndr %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>
									
								<table class="serviceBox" border="" style="margin-top: 10px;">
										<tr>
										<th width="66">GDR</th>
										<% if(indikator.length > 0){ %>
											<% for(let indi of indikator){ %>  
										<td width="<%= indi.gdr %>% " style="background: rosybrown;"></td>
										<td width="450"><%= indi.gdr %> </td>
											<% } %> 
											<% } %> 
									</tr>
								</table>

							</div>
							</div>
						</div>
			
					</div>
						
					</div>
				</div>
			</div>
		</div>			
	</div>
</div>
<!-- End Services -->

	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Galleri Ruangan</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			
			<div class="popup-gallery row clearfix">
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/jantung.png" alt="">
						<div class="box-content">	
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-01.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/layanan_hiperbarik.jpg" style="height: 205px;" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-02.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">					
					<div class="box-gallery">
						<img src="images/ruang/rs-paru-hiperbarik.png" style="height: 205px;" alt="">
						<div class="box-content">							
							<ul class="icon">
								<li><a href="images/gallery-03.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/rs-paru-vip.png" style="height: 205px;" alt="">
						<div class="box-content">	
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-04.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/TOHB.JPG" style="height: 205px;" alt="">
						<div class="box-content">							
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-05.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">					
					<div class="box-gallery">
						<img src="images/ruang/jantung.png" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-06.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/jantung.png" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-07.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="images/ruang/jantung.png" alt="">
						<div class="box-content">		
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								<li><a href="images/gallery-08.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
	<!-- Start Team -->
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Dokter Kita</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="images/foto_dokter/dr_sigit_kusuma_jati.jpeg" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">Dr Sigit Kusuma Jati</h3>
                            <span class="post">web developer</span>
                           
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
							<img src="images/foto_dokter/dr_movita_hidayati.jpeg" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">Dr Movita Hidayati,Sp.P</h3>
                            <span class="post">Spesialis Paru</span>
                    
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
							<!-- <img src="images/foto_dokter/Drs Bahrudin Yulianto.jpg" style="height: 220px;" alt=""> -->
                            <img src="images/foto_dokter/dr_aniek_rachmawati.jpeg" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Aniek Rachmawati,Sp.Rad</h3>
                            <span class="post">Spesialis Radiologi</span>
                          
                        </div>
                    </div>
                </div>
			</div>
			<div class="row align-items-center about-main-info">
				<div class="col-lg-6 col-md-6 col-sm-12">
				<a href="/dokter" class="new-btn-d br-2" style="margin-left: 530px; margin-top: 50px;">Lihat Dokter</a>
		</div>
	</div>
		</div>
	</div>
	
	<!-- End Team -->
	
	<!-- Start Blog -->
	<div id="blog" class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Berita</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<% if(konten.length>0){ %>
					<% for(let kon of konten){ %>  
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="<%= kon.image %> " alt="" />
						</div>
						<div class="item-meta">
							<!-- <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">25 July 2018</span> -->
							<span class="dti"><%= kon.createdAt %></span> 
						</div>
						<h2><%= kon.judul %> </h2>
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p> -->
						<a class="new-btn-d br-2" href="/detail-berita/<%= kon.id %> ">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<% } %> 
				<% } %> 
				<!-- <div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
						</div>
						<div class="item-meta">
							<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">25 July 2018</span>
						</div>
						<h2>Proin vel sem ut lorem rhoncus lacinia. </h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
						<a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div> -->
				<!-- <div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="images/blog-img-03.jpg" alt="" />
						</div>
						<div class="item-meta">
							<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">25 July 2018</span>
						</div>
						<h2>Aliquam egestas magna a malesuada rutrum. </h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
						<a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div> -->
			</div>
			<div class="row align-items-center about-main-info">
				<div class="col-lg-6 col-md-6 col-sm-12">
				<a href="/berita" class="new-btn-d br-2" style="margin-left: 500px; margin-top: 50px;">Lihat Berita</a>
		</div>
	</div>
		</div>
	</div>
	<!-- End Blog -->
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Kritik & Saran</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-lg-12 col-xs-12">
				  <div class="contact-block">
					<form  action="/krisan" method="POST">
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="nama" placeholder="Nama Langkap" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="number" placeholder="Nomer Telephone" id="number" class="form-control" name="tlpn" required data-error="Please enter your number">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Kritik Saran" rows="8" name="isi" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" type="submit">Kirim Pesan</button>
							</div>
						</div>
					</div>            
				</form>
				  </div>
				</div>
				
				
				<div class="col-lg-12 col-xs-12">
					<div class="left-contact">
						<h2>Alamat</h2>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Alamat</h4>
								<p>Jl. Nusa Indah No.28, Krajan, Jemberlor, Kec. Patrang, Kabupaten Jember, Jawa Timur 68118
								</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<a href="#">rsparujember@gmail.com</a><br>
								<a href="#">rsparu@gmail.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Nomer Telephone</h4>
								<a href="#">(0331) 411781</a><br>
								<a href="#">12345 67890</a>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Subscribe -->
	<div class="subscribe-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="subscribe-inner text-center clearfix">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.42544121801!2d113.7033558143306!3d-8.159819584010396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd694485d3653d9%3A0xd0bd19eed26d9073!2sRumah%20Sakit%20Paru%20Jember!5e0!3m2!1sid!2sid!4v1599533385592!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Subscribe -->
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">RS Paru Jember</a> </p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<%- include("../template/home/footer.ejs") %> 