
<%- include("../template/templateTabel/head.ejs") %> 
<%- include("../template/admin/navbar.ejs") %> 

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Table</a></li>
                                    <li class="active">Data Ruangan</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Data Ruangan</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                       
                                        <tr>
                                            <th>VIP</th>
                                            <th>Anggrek</th>
                                            <th>HCU</th>
                                            <th>ICU</th>
                                            <th>Dahlia II</th>
                                            <th>Dahlia Isolasi</th>
                                            <th>Melati II</th>
                                            <th>Tulip II</th>
                                            <th>Bougenvile II</th>
                                            <th>Lavender II</th>
                                            <th>Mawar III</th>
                                            <th>Mawar Isolasi</th>
                                            <th>Ruang Isolasi Khusus</th>
                                            <th>Melati III</th>
                                            <th>Tulip III</th>
                                            <th>Bougenvile III</th>
                                            <th>Lavender III</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (inventaris.length >0) { %>
                                            <% for(let barang of inventaris) {%>    
                                        <tr>
                                            <td><%= barang.vip %> </td>
                                            <td><%= barang.anggrek %></td>
                                            <td><%= barang.hcu %></td>
                                            <td><%= barang.icu %></td>
                                            <td><%= barang.dahlia2 %></td>
                                            <td><%= barang.dahliaI %></td>
                                            <td><%= barang.melati2 %></td>
                                            <td><%= barang.tulip2 %></td>
                                            <td><%= barang.bougenvile2 %></td>
                                            <td><%= barang.lavender2 %></td>
                                            <td><%= barang.mawar3 %></td>
                                            <td><%= barang.mawarI %></td>
                                            <td><%= barang.mawarIK %></td>
                                            <td><%= barang.melati3 %></td>
                                            <td><%= barang.tulip3 %></td>
                                            <td><%= barang.bougenvile3 %></td>
                                            <td><%= barang.lavender3 %></td>
                                            <td>
                                                <form action="/hapus-inventaris" method="post">
                                                    <input type="hidden" name="id" value="<%= barang.id %>">
                                                <button class="btn btn-danger btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Hapus
                                                        </button>
                                                    </form> 
                                                        <a href="/edit-inventaris/<%= barang.id %> " class="btn btn-warning btn-sm" >
                                                <i class="fa fa-dot-circle-o"></i> Edit
                                            </a></td>
                                        </tr>
                                    <% } %> 
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


        <div class="clearfix"></div>

        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

   <%- include("../template/templateTabel/footer")  %>   